.nav1{
    width: 100%;
    height: 80px;
    background: blueviolet;
    padding: 15px;
}

.botonnav{ background: blueviolet;}
h2{
    color: blueviolet !important;
}
h1{
    color: blueviolet !important;
}
p1{
    color: blueviolet !important;
}